body {
  overflow: hidden;
}

.red {
  position: absolute;
  background-color: red;
  height: 50vh;
  transition: all 2s;
  width: 50vw;
  left: 0;
  opacity: 0;
}

.zIndex {
  color: wheat;
  font-size: 55px;
  margin-left: 90%;
  position: relative;
  z-index: 0;
  cursor: pointer;
  display: none;
}

.red2 {
  position: absolute;
  background-color: red;
  height: 50vh;
  transition: all 2s;
  width: 50%;
  opacity: 1;
}

.blue {
  position: absolute;
  background-color: blue;
  height: 50vh;
  transition: all 2s;
  width: 50vw;
  left: 720px;
  opacity: 0;
}

.blue2 {
  position: absolute;
  margin-left: 720px;
  background-color: blue;
  height: 50vh;
  transition: all 2s;
  width: 50%;
  opacity: 1;
}

.zIndex2 {
  color: wheat;
  font-size: 55px;
  margin-left: 90%;
  position: relative;
  z-index: 0;
  cursor: pointer;
  display: none;
}

.black {
  position: absolute;
  top: 410px;
  background-color: black;
  height: 50vh;
  transition: all 2s;
  width: 50%;
  opacity: 0;
  left: 0;
}

.black2 {
  position: absolute;
  top: 410px;
  background-color: black;
  height: 50%;
  transition: all 2s;
  width: 50%;
  opacity: 1;
}

.zIndex3 {
  color: wheat;
  font-size: 55px;
  margin-left: 90%;
  position: relative;
  z-index: 0;
  cursor: pointer;
  display: block;
}

.green {
  position: absolute;
  top: 410px;
  left: 730px;
  background-color: green;
  height: 50vh;
  transition: all 2s;
  width: 50%;
  opacity: 0;
}

.green2 {
  position: absolute;
  margin-top: 410px;
  margin-left: 720px;
  background-color: green;
  height: 50vh;
  transition: all 2s;
  width: 50%;
  opacity: 1;
}

.zIndex4 {
  color: wheat;
  font-size: 55px;
  margin-left: 90%;
  position: relative;
  z-index: 0;
  cursor: pointer;
  display: block;
}

.eye {
  color: white;
  margin-left: 45%;
  margin-top: 22%;
  font-size: 63px;
}

p {
  color: wheat;
  font-size: 30px;
  text-align: center;
}
